# Required
pytest
pytest-cover
pydantic
cryptography # ==3.3.2 in legacy systems
pybluez # Manually install ==0.30 in legacy systems

# Optional
pyclean
monkeytype # Needs libcst
mypy
pylint

# Considering
pytest-mock
pytest-benchmark